
.topbar {  
    //min-width: 1000px;
    box-sizing: border-box;

    
}  


.heading {
    float: left;
    margin:-15px;
}


.search {
    padding: 10px;
    position: relative;

}
//https://coolors.co/1d96b7-fbb169-393e41-d3d0cb-e7e5df
.header {
  
    background-color:#ffffff;
    color:#a5b0c2;
    //text-align: right;
    padding: 10px;
    height: 40px;
    span {
        //padding: 10px;
        color: #eaecf0;
    }    


}
.setting{
    float:right;
    line-height: 40px;
    margin: 0 10px;
    //outline: solid 1px black;
}