
.topbar {  

    box-sizing: border-box;
    display:flex;
}  
.logo {
    box-sizing: border-box;
    width:150px;
    margin:5px;
    float:left;
}

.heading {
    float: left;
    margin:-15px;
    //font-size: 20px;
}


.search {
    padding: 10px;
    position: relative;
    input{
        padding: 10px;
    }
    span {
        color:grey;
        position: absolute;
        left:105px;
        top:0px;

    }
}

.header {
    background-color:#018e6b;
    color: white;
    flex:1;
    text-align: right;
    padding: 10px;
    span {
        padding: 10px;
    }    
    input,input::placeholder {
        color:inherit;
        font:inherit;
        font-size:inherit;
        color: grey;
    }
}
