
.sidebar {  
    color:#E7E5DF;
    font-size: 15px;
    width:70px;

    background-color:#393E41;
 
}  
.links {

    a {
        color:#E7E5DF;
        text-decoration: none;
        &:hover{
            color:grey;
        }
    }
}


.bullet {
    padding:15px;
}

