
.sidebar {  
    color:#a5b0c2;
    font-size: 15px;
    width:180px;
    background-color:#3a4558;
    hr {
        height: 1px;
        border: 0;
        margin : 0;
        box-shadow: inset 0 3px 1px -2px rgba(0, 0, 0, 0.5);
        }
    a {
        //font-weight: bold;
        color:#a5b0c2;
        text-decoration: none;
    }
}  

.circle {
    margin: 50px auto;
    text-align: center;
}

.user {
    padding: 10px 20px;
    color: #a5b0c2;
    margin: 20px auto;
    &:after {
        content: '\f0d7';
        font-family: FontAwesome; 
        margin:0px 0px 0px 10px;
    }
    font-weight:bold;   
}

.links {
  //box-sizing: border-box;
 ul {
    padding: 0;
    list-style-type: none;
    }
    li{
        //outline: solid 1px white;
        //margin: 10px 10px;
        padding: 10px 20px;
        //border: solid 1px white;
        &:hover{
           background-color:#343e4f; 
           color: white; 
           
        }
         font-weight:bold;
       
    }

}


.logo {
    box-sizing: border-box;
    width:inherit;
    height:auto;
    padding: 5px 15px;
    text-align: center;
    display:inline-block;
    //float:left;
    //vertical-align: middle;
}