.home {
  font-family: 'Lucida Sans';

  box-sizing: border-box;
  height: 100%;
}


html {
  height: 100%;
}

body {
  margin:0;
  min-height: 100%;
  padding:0;
  font-family: 'Lucida Sans';
}
ul {
  margin: 0;
  padding: 0;
}


.content {
}