.fileviewer {
  overflow-x:auto;
  box-sizing: border-box;
  color:black;
  
  td:first-child,td:last-child,th {
    color:#1D96B7;
    font-weight: bold;
  }
  tbody tr {
    border-top: solid 1px #E7E5DF;
    border-bottom:  solid 1px #E7E5DF;
    &:hover{
      background-color: rgba(0, 0, 0, .1);
    }
  } 

  th:nth-child(1),
  th:nth-child(4){
    width: 10%;
  }
  th:nth-child(2){
    width: 20%;
  }
  th:nth-child(3){
    width: 40%;
  }


  td,th {
      padding:10px;
      //outline: solid 1px black;
      text-align:left;
      text-overflow: ellipsis;
  }
  table {
    border-collapse: collapse;
    //min-width:800px;
    table-layout: fixed
    }
}

.complete {
  border: solid 1px #93b485;
  background-color: #f0f7f1;
  color: #93b485;
  border-radius: 5px;
  padding: 5px 10px;
  width:80px;
  text-align:center;
  display: block; /* or inline-block */
}

.error {
  border: solid 1px #cd5869;
  background-color: #f9f1f4;
  color: #cd5869;
  border-radius: 5px;
  padding: 5px 10px;
  width:80px;
  text-align:center;
  display: block; /* or inline-block */
}


