.tab {
    padding:20px;
    font-size: 15px;
}

.content {
    padding:20px;
    background-color: #E7E5DF;
    outline: solid 1px #E7E5DF;
}

.active {
    //border: solid 1px black !important;
    //border-bottom: solid 1px none;
    background-color:#E7E5DF !important;
}
//E7E5DF D3D0CB
.labels {
     a {
        text-decoration-line: none;
        color: black;
    }
    li{
        list-style:none;
        list-style-position:inside;
        margin:0;
        padding:10px;
        outline: solid 1px #E7E5DF;
        background-color: #D3D0CB;
        //border-bottom: solid 1px white;;
        display:inline-block;

    }
    ul {

    }
}